<div class="entry">
  <p>דירת {{roomCount}} חדרים ב{{city}}, רחוב {{address}}. מחיר: {{price}} ש״ח</p>
  <a href="https://www.google.com/maps?z=12&t=m&q=loc:{{location.latitude}}+{{location.longitude}}">
      <img src="https://maps.googleapis.com/maps/api/staticmap?keyAIzaSyAwUfJNBM7Uy7doaECdYJ813nlhRs17IT4=&zoom=15&size=400x300&markers={{location.latitude}},{{location.longitude}}" />
  </a>
  <br />
  <a href={{originalAdUrl}}>המודעה המקורית</a>
</div>

